<%- include('header'); %>
    <h1>Home</h1>
    <p><%= StartingContent %></p>
    <% for(let i=0;i<Blogs.length;i++){ %>
    <h3><%=Blogs[i].title  %></h3>
    <p><%=Blogs[i].content.substring(0,100) +"..."%><a href="/post/<%= Blogs[i]._id %>">Read more</a> </p>
    <% } %>
    
<%- include('footer'); %>   